{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheet %}
    {{ encore_entry_link_tags('categoryAdminAddUser') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ category.name }}</h2>
        <ul>
            {% for user in users %}
                <li class="user-item">
                    <div class="d-flex justify-content-between">
                        <p>{{ user.pseudo }}</p>
                        <div>
                            {% if user.isAdminToCategory(category) %}
                                <p class="bg-info rounded p-1">Administrateur</p>
                            {% else %}
                                {% if not user.hasAccessToCategory(category) %}
                                    <form method="post" action="{{ url('category_admin_new_user', { user: user.id, category: category.id }) }}">
                                        <button class="btn btn-primary">Ajouter</button>
                                    </form>
                                {% else %}
                                    {% if workflow_has_marked_place(user.getAccessByCategory(category), 'rejected') %}
                                        <p class="text-danger">L'utilisateur à refusé l'invitation</p>
                                    {% else %}
                                        <form method="post" action="{{ url('category_admin_remove_user', { categoryUser: user.getAccessByCategory(category).id }) }}">
                                            <button class="btn btn-danger">Supprimer</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

